@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.titulo{
    font-family: 'Roboto Slab', serif;
    font-size: 1.22em;
    color: var(--ion-color-ocean);
    text-align: center;
}

.locate{
    font-family: 'Roboto Slab', serif;
    font-size: 1.33em;
}

.circulo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--ion-color-purple);
    background-color: var(--ion-color-bluesky);
}

.etiqueta{
    ion-item {
        border-radius: 50px;
        height: 55px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
        --highlight-height: 0px;
      
        ion-input {
          font-size: 18px;
          --padding-top: 20px;
          --padding-bottom: 15px;
          --padding-start: 5px;
        }
    }    
}

ion-fab-bottom {
    --border-color: var(--ion-color-bluesky) !important;
}