<ion-content>
  <ion-item lines="none" color="transparent" class="ion-margin-top ion-margin-bottom">
    <ion-label class="ion-text-capitalize titulo">Agrega o escoge una dirección</ion-label>
  </ion-item>

  <ion-item lines="none" color="transparent">
    <button class="circulo" slot="start" (click)="getLocation()">
      <ion-icon size="large" name="navigate-outline"></ion-icon>
    </button>
    <ion-label color="dark" class="locate">Ubicación Actual</ion-label>
  </ion-item>

  <div class="etiqueta ion-padding-end ion-padding-start">
    <form #formulario="ngForm" (ngSubmit)="addAddress()">
      <ion-item class="ion-margin-top ion-margin-bottom" [disabled]="inhabilitarInput">
        <ion-input type="text" name="name" placeholder="Nombre o detalle de referencia" #nombre="ngModel" [(ngModel)]="name" required>
        </ion-input>
      </ion-item>
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors?.required">
          <ion-note color="danger">El nombre es requerido.</ion-note>
        </div>
      </div>

      <div class="ion-padding">
        <ion-button type="subtmit" class="ion-padding-start ion-padding-end" expand="block" mode="ios" shape="round"
          [disabled]="formulario.invalid" color="ocean" class="btn">
          Agregar
        </ion-button>
      </div>
    </form>
  </div>

  <ion-list lines="none">
    <ion-radio-group color="bluesky" (ionChange)="seleccionRadio($event)">
      <ion-item *ngFor="let item of direcciones" color="transparent">
        <ion-label>{{item.detalle}}</ion-label>
        <ion-radio color="ocean" slot="end" [value]="item.idDireccion"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="purple" (click)="dismiss()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>