<ion-content>
  <ion-item lines="none" color="transparent">
    <p class="ion-text-center ion-text-capitalize titulo" color="ocean"><b>Agrega o escoge una dirección</b></p>
  </ion-item>

  <ion-item lines="none" color="transparent">
    <button class="circulo" slot="start" (click)="getLocation()">
      <ion-icon size="large" name="navigate-outline"></ion-icon>
    </button>
    <ion-label class="titulo">Ubicación Actual</ion-label>
  </ion-item>

  <div class="etiqueta ion-padding-end ion-padding-start">
    <ion-item class="ion-margin-top ion-margin-bottom" [disabled]="inhabilitarInput">
      <ion-input type="text" name="name" placeholder="Nombre o detalle de referencia" [(ngModel)]="name">
      </ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="addAddress()" color="ocean" class="btn">
      Agregar
    </ion-button>
  </div>


  <ion-list>
    <ion-radio-group value="biff">
      <!-- <ion-list-header>
        <ion-label>Name</ion-label>
      </ion-list-header> -->
  
      <ion-item *ngFor="let item of listAddress">
        <ion-label>{{item.nombre}}</ion-label>
        <ion-radio color="ocean" slot="end" [value]="item.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="danger" (click)="dismiss()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>