@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.menu-header-bg{
    height: 180px;
    width: 350px;
    background: var(--ion-color-ocean);
    background: linear-gradient(90deg, var(--ion-color-ocean) 0%, var(--ion-color-bluesky) 100%);
    box-shadow: 0px 1px 10px rgba(26, 182, 209, 0.781);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    .title-menu{
        font-family: 'Pacifico', cursive;
        font-size: 2.3em;
    }

    h2{
        margin-left: 20px;
        font-weight: 300;
        color: #fff;
    }

    p{
        font-size:12px ;
        color: #e4e4e4;
        font-weight: 100;
        letter-spacing: 0.4px;

    }

    ion-icon{
        margin-right: 1px;
    }
}

.menu-items{
    margin: 0px;

    ion-icon{
        margin-right: 20px;
    }

    ion-item{
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .active{
        border-left: 5px solid;
        padding-left: 15px;
    }
}