<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="abrirModalDirecciones()">
      <ion-button color="orange">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" >
      <ion-menu-button color="orange" autoHide="true" menuId="primerMenu"></ion-menu-button> 
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment color="orange" [(ngModel)]="type" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="cervezas" layout="icon-start">
        <ion-label class="ion-text-capitalize">Cervezas</ion-label>
        <ion-icon size="large" name="beer"></ion-icon>
      </ion-segment-button>
       
      <ion-segment-button value="licores" layout="icon-start">
        <i  class="fas fa-2x fa-wine-bottle"></i>
        <ion-label class="ion-text-capitalize">Licores</ion-label>
      </ion-segment-button>

      <ion-segment-button value="piqueos" layout="icon-start">
        <i class="fab fa-2x fa-gulp"></i>
        <ion-label class="ion-text-capitalize">Piqueos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <app-search mode="ios" (textoFiltro)="buscarPro($event)"></app-search>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'cervezas'" class="ion-margin-bottom">
      <app-producto *ngFor="let item of listPro | filtro:textBuscar:'nombre'"
      [product]="item"></app-producto>
    </div>

    <div *ngSwitchCase="'licores'" class="ion-margin-bottom">
      <app-producto *ngFor="let item of listLic | filtro:textBuscar:'nombre'"
      [product]="item"></app-producto>
    </div>

    <div *ngSwitchCase="'piqueos'" class="ion-margin-bottom">
      <app-producto *ngFor="let item of listPiq | filtro:textBuscar:'nombre'"
      [product]="item"></app-producto>
    </div>
  </div>
</ion-content>