<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil de Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" color="orange" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div>
            <ion-avatar slot="start">
              <ion-img src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg"></ion-img>
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="9" class="ion-justify-end">
          <div class="names">
            <ion-label color="orange" class="fullname">Nombres y Apellidos</ion-label><br>
            <ion-label class="name-user">@NombreUsuario</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-card>
      <ion-card-content>
        <ion-item-group>
          <ion-icon slot="start" color="danger" class="ion-margin-end" name="mail-outline"></ion-icon>
          <b>Correo:</b>
          <span style="margin-left: 5px;">user@ionic.com</span>
        </ion-item-group>

        <ion-item-group>
          <ion-icon slot="start" color="primary" class="ion-margin-end" name="calendar-outline"></ion-icon>
          <b>Edad:</b>
          <span style="margin-left: 5px;">23 años</span>
        </ion-item-group>

        <ion-item-group>
          <ion-icon slot="start" color="success" class="ion-margin-end" name="call-outline"></ion-icon>
          <b>Celular:</b>
          <span style="margin-left: 5px;">0968556635</span>
        </ion-item-group>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
