<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="dismiss()" slot="end">
      <ion-button>
        <ion-icon size="large" color="orange" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Nueva Dirección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div id='map' class="map" style='width: 400px; height: 300px;'></div>
  </ion-card>

  <form [formGroup]="dirForm">
    <ion-list lines="none">
      <!-- <ion-item class="form-group">
        <ion-label>Nombre:</ion-label>
      </ion-item> -->
      <ion-item class="form-group">
        <ion-input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" placeholder="Indica una referencia (casa, trabajo...)" required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="orange" expand="block" shape="round">
          Confirma tu Dirección
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>