<ion-content>
  <ion-item lines="none" color="transparent">
    <ion-label class="ion-text-center ion-text-capitalize titulo"><b>Nueva Dirección</b></ion-label>
  </ion-item>

  <ion-card>
    <div id='map' class="map" style='width: 400px; height: 300px;'></div>
  </ion-card>

  <form [formGroup]="dirForm">
    <ion-list lines="none">
      <ion-item class="form-group">
        <ion-input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" placeholder="Indica una referencia (casa, trabajo...)" required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-padding-top" size="auto">
        <ion-button type="submit" size="large" mode="ios" color="ocean" expand="block" shape="round">
          Confirma tu Dirección
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="danger" (click)="dismiss()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>