<ion-toolbar color="transparent">
  <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="/tabs"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none" color="transparent">
    <ion-label class="ion-margin-top titulo" color="ocean">Mis <br>Direcciones</ion-label>
  </ion-item>
  
  <!-- <ion-card>
    <app-mapa></app-mapa>
  </ion-card> -->

  <ion-card>
    <ion-card-content>
      <ion-item lines="none" color="transparent">
        <ion-icon name="location-outline" color="bluegray" size="large" class="ion-margin-end"></ion-icon>
        <ion-label>Mi Casa</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none" color="transparent">
        <ion-icon name="location-outline" color="bluegray" size="large" class="ion-margin-end"></ion-icon>
        <ion-label>Trabajo</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-padding-top" size="auto">
      <ion-button color="ocean" expand="block" mode="ios" size="large" shape="round" fill="outline" (click)="abrirMapa()">
        Añadir Dirección
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
