<ion-content class="content" [fullscreen]="true">
  <!-- <div class="center-btn">
    <h4 class="titulo">INICIAR SESIÓN</h4>
  </div> -->


  <ion-slides class="mainSlide" #slidePrincipal>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 class="titulo">Iniciar Sesión</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <form (ngSubmit)="login(flogin)" #flogin="ngForm">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="card-form">
                      <ion-card mode="ios"  class="class-container">
                        <p class="tag">Ingrese sus credenciales para continuar</p>
                        <ion-item lines="none" color="transparent">
                          <ion-input name="email" type="email" [(ngModel)]="loginUser.email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder=" Ingrese Email">
                            <ion-icon name="person" class="animated tada ion-margin-end" color="orange"></ion-icon>
                          </ion-input>
                        </ion-item>

                        <ion-item lines="none" color="transparent">
                          <ion-input name="password" type="password" [(ngModel)]="loginUser.password" required
                            placeholder=" Ingrese Contraseña">
                            <ion-icon name="key" class="animated tada ion-margin-end" color="orange"></ion-icon>
                          </ion-input>
                        </ion-item>

                      </ion-card>
                    </div>

                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button type="submit" mode="ios" color="orange" shape="round" class="animated-b flash">
                      Login
                    </ion-button>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 class="titulo">Registro</h1>
          </ion-col>
        </ion-row>
        <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input name="nombre" type="text" [(ngModel)]="registerUser.nombre" required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Apellido</ion-label>
                  <ion-input name="apellido" [(ngModel)]="registerUser.apellido" type="text" required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Cédula</ion-label>
                  <ion-input name="cedula" [(ngModel)]="registerUser.cedula" type="text" required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Teléfono</ion-label>
                  <ion-input name="cedula" [(ngModel)]="registerUser.telefono" type="text" required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Dirección</ion-label>
                  <ion-input name="direccion" type="text" [(ngModel)]="registerUser.direccion" required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input name="email" type="email" [(ngModel)]="registerUser.email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input name="password" type="password" [(ngModel)]="registerUser.password" required></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" mode="ios" color="orange" shape="round">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="full" mode="ios" size="small" fill="outline" color="orange" (click)="mostrarRegistro()">
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round" expand="full" mode="ios" size="small" fill="outline" color="orange" (click)="mostrarLogin()">
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>