<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" color="transparent">
    <ion-label class="ion-margin-top titulo" color="ocean">Acerca <br>De.</ion-label>
  </ion-item>

  <div class="wrapper">
    <div id=container>
      Allice 
      <div id=flip>
        <div><div>disfruta</div></div>
        <div><div>recibe</div></div>
        <div><div>pide</div></div>
      </div>
    </div>
    
    <p>Versión 1.0.1<br>Developed by Group 5<br>&copy; {{test | date: 'yyyy'}}, ALLICE</p>
  </div>
</ion-content>