@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.titulo{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    color: var(--ion-color-ocean);
}

.emptybag{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cart{
    width: 300px;
}

.bag{
    color: var(--ion-color-bluegray);
}

.poster-col {
    height: 200px;
    .trash{
        margin-left: 60px;
    }
    img {
        border-radius: 40px;
    }
}

.name-pro{
    font-family: 'Roboto Slab';
    font-size: 20px;
    color: var(--ion-color-ocean);
    margin-top: 4px;
}
  
.rate {
    padding-top: 5px;

    i {
      color: var(--ion-color-bluegray);
    }

    .price{
        font-size: 1.33em;
    }
}
    
.swiper-slide-prev {
    opacity: .5;
    transform: rotate(-8deg);
}
  
.swiper-slide-next {
    opacity: .5;
    transform: rotate(8deg);
}
  
.swiper-slide {
    transition: .4s all;
}