<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="abrirModalDirecciones()">
      <ion-button color="orange">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" >
      <ion-menu-button autoHide="true" menuId="primerMenu"></ion-menu-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-top" *ngIf="this.list.length === 0">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto" class="ion-padding">
          <div class="ion-margin">
            <i class="fas fa-shopping-bag fa-10x bag"></i>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <h4 class="ion-text-center">Su Pedido está Vacio</h4>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-padding-top">
          <div class="ion-text-center">
            <ion-text color="primary">
              Navegue por las categorías, o busque su producto.
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-padding-top" size="auto">
          <ion-button class="ion-padding" color="orange" expand="block" fill="outline" (click)="irProductos()">
            AÑADIR PRODUCTOS
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="container" *ngIf="this.list.length != 0">
    <h4 class="ion-text-center titulo">Productos de mi Pedido</h4>
    <ion-grid>
      <ion-row>
        <ion-col size="2">CANT</ion-col>
        <ion-col size="4" class="ion-text-center">DETALLE</ion-col>
        <ion-col size="3" class="ion-text-center">PRECIO</ion-col>
        <ion-col size="3" class="ion-text-center">TOTAL</ion-col>
      </ion-row>

      <ion-row *ngFor="let item of listBagRef">
        <ion-col size="2">
          <div class="ion-text-start"> {{ item.cant }} </div>
        </ion-col>
        
        <ion-col size="4"> 
          <div class="ion-text-start"> {{ item.producto.nombre }} </div>
        </ion-col>

        <ion-col size="3">
          <div class="ion-text-end"> {{ item.producto.precio | currency:'USD' }} </div> 
        </ion-col>

        <ion-col size="3">
          <div class="ion-text-end"> {{ item.total | currency:'USD' }} </div> 
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-note class="ion-padding" color="secondary">Costo Envio: </ion-note><br>
    <ion-note class="ion-padding" color="medium"> Santa Elena: $2.00</ion-note><br>
    <ion-note class="ion-padding" color="medium">Libertad: $1.00</ion-note><br>
    <ion-note class="ion-padding" color="medium">Salinas: $1.50 </ion-note>
    <ion-button class="ion-padding" color="success" expand="block" fill="outline" >
      GENERAR PEDIDO
    </ion-button>
  </div>
</ion-content>
