<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="abrirModalDirecciones()">
      <ion-button color="ocean">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button color="ocean" autoHide="true" menuId="primerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-top" *ngIf="this.list.length === 0">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto" class="ion-padding">
          <div class="ion-margin">
            <i class="fas fa-shopping-bag fa-10x bag"></i>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <h4 class="ion-text-center">Su Pedido está Vacio</h4>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-padding-top">
          <div class="ion-text-center">
            <ion-text color="primary">
              Navegue por las categorías, o busque su producto.
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-padding-top" size="auto">
          <ion-button class="ion-padding" color="ocean" expand="block" fill="outline" (click)="irProductos()">
            AÑADIR PRODUCTOS
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="container" *ngIf="this.list.length != 0">
    <h4 class="ion-text-center titulo">Productos de mi Pedido</h4>
    
    <ion-slides [options]="options">
      <ion-slide *ngFor="let item of listBagRef">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="poster-col">
              <img class="poster" [src]="item.producto.imagen">
              <ion-fab class="trash" vertical="bottom" horizontal="center">
                <ion-fab-button color="danger" size="small" (click)="eliminarProducto(item)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-col>
            <ion-col size="12">
              <div class="ion-no-margin name-pro"><b> {{item.cant}} {{item.producto.nombre}} </b></div>
              <p class="ion-no-margin">
                <i class="fas fa-dollar-sign fa-sm ion-margin-end"></i>
                <span class="price">{{item.producto.precio_venta | number : '1.2-2'}} c/u</span>
              </p>
              <p class="ion-no-margin rate">
                <i class="fas fa-dollar-sign fa-lg ion-margin-end"></i>
                <span class="price">{{item.total.toFixed(2)}}</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>

    <ion-note class="ion-padding" color="secondary">Costo Envio: </ion-note><br>
    <ion-note class="ion-padding" color="medium"> Santa Elena: $2.00</ion-note><br>
    <ion-note class="ion-padding" color="medium">Libertad: $1.00</ion-note><br>
    <ion-note class="ion-padding" color="medium">Salinas: $1.50 </ion-note>

    <ion-card>
      <ion-card-content>
        <ion-item>{{calcularTotal() | currency:'USD'}}</ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button class="ion-padding" color="orange" expand="block" fill="outline">
      GENERAR PEDIDO
    </ion-button>
  </div>
</ion-content>