<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="top-20">
    <ion-col size="12" class="ion-text-center">
      <img src="assets/avatars/{{img}}" class="img-avatar">
    </ion-col>
  </ion-row>

  <ion-row class="top-20">
    <ion-col size="12" class="ion-text-center">
      <ion-label>
        <h1>Actualizar perfil</h1>
      </ion-label>
    </ion-col>
  </ion-row>


  <app-avatar-selector (avatarSel)="registerUser.avatar =$event"></app-avatar-selector>
  <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input name="nombre" type="text" [(ngModel)]="registerUser.nombre" required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input name="apellido" [(ngModel)]="registerUser.apellido" type="text" required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input name="cedula" [(ngModel)]="registerUser.telefono" type="text" required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input name="correo" type="correo" [(ngModel)]="registerUser.correo"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input name="password" type="password" [(ngModel)]="registerUser.password" required></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button type="submit" mode="ios" color="ocean" shape="round">
          Actualizar
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>